body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f9f3e8;
}

header {
    background: rgb(98, 164, 239);
    color: white;
    padding: 20px;
    text-align: center;
}

.products {
    display: flex;
    justify-content: space-around;
    margin: 30px;
}

.product {
    background: #fff;
    padding: 20px;
    width: 40%;
    border-radius: 8px;
    box-shadow: 0px 0px 10px #ccc;
    text-align: center;
}

footer {
    background: #333;
    color: white;
    padding: 15px;
    text-align: center;
    margin-top: 20px;
}

/* Navbar */
.navbar {
    background: rgb(36, 33, 33);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    align-items: center;
    position: sticky;
    top: 0;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s;
}

.navbar ul li a:hover {
    color: #ffd700;
}

/* Hero Section */
.hero {
    background: url('https://picsum.photos/1200/400?grains') center/cover no-repeat;
    color: white;
    text-align: center;
    padding: 100px 20px;
    background-color: #333;
}

.product-section {
    padding: 20px;
}

.product-card {
    background: white;
    padding: 15px;
    margin: 15px 0;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}

.hidden {
    display: none;
}
 

